# Node
node_modules/
npm-debug.log
yarn-error.log

# Env
.env
.env.local
.env.production
.env.development

# Logs
logs
*.log
debug.log

# Cache
.cache/
dist/

# OS files
.DS_Store
Thumbs.db

# Uploads (optional)
backend/uploads/pdfs/
